<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autumn.project.vaccines.mapper.UserFillInfoMapper">
    
    <resultMap type="UserFillInfo" id="UserFillInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="userSex"    column="user_sex"    />
        <result property="childrenName"    column="children_name"    />
        <result property="childrenSex"    column="children_sex"    />
        <result property="childrenBirthday"    column="children_birthday"    />
        <result property="today"    column="today"    />
        <result property="childrenAllergy"    column="children_allergy"    />
        <result property="userPhone"    column="user_phone"    />
        <result property="address"    column="address"    />
        <result property="takeCare"    column="take_care"    />
        <result property="score"    column="score"    />
        <result property="opinions"    column="opinions"    />
        <result property="state"    column="state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
        <result property="ext1"    column="ext1"    />
        <result property="ext2"    column="ext2"    />
        <result property="ext3"    column="ext3"    />
        <result property="ext4"    column="ext4"    />
        <result property="ext5"    column="ext5"    />
        <result property="ext6"    column="ext6"    />
        <result property="ext7"    column="ext7"    />
        <result property="ext8"    column="ext8"    />
        <result property="ext9"    column="ext9"    />
        <result property="ext10"    column="ext10"    />
    </resultMap>

    <sql id="selectUserFillInfoVo">
        select id, user_id, user_name, user_sex, children_name, children_sex, children_birthday, today, children_allergy, user_phone, address, take_care, score, opinions, state, create_by, create_time, remark, ext1, ext2, ext3, ext4, ext5, ext6, ext7, ext8, ext9, ext10 from user_fill_info
    </sql>

    <select id="selectUserFillInfoList" parameterType="UserFillInfo" resultMap="UserFillInfoResult">
        <include refid="selectUserFillInfoVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="userSex != null  and userSex != ''"> and user_sex = #{userSex}</if>
            <if test="childrenName != null  and childrenName != ''"> and children_name like concat('%', #{childrenName}, '%')</if>
            <if test="childrenSex != null  and childrenSex != ''"> and children_sex = #{childrenSex}</if>
            <if test="childrenBirthday != null "> and children_birthday = #{childrenBirthday}</if>
            <if test="today != null "> and today = #{today}</if>
            <if test="childrenAllergy != null  and childrenAllergy != ''"> and children_allergy = #{childrenAllergy}</if>
            <if test="userPhone != null  and userPhone != ''"> and user_phone = #{userPhone}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="takeCare != null  and takeCare != ''"> and take_care = #{takeCare}</if>
            <if test="score != null  and score != ''"> and score = #{score}</if>
            <if test="opinions != null  and opinions != ''"> and opinions = #{opinions}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="ext1 != null  and ext1 != ''"> and ext1 = #{ext1}</if>
            <if test="ext2 != null  and ext2 != ''"> and ext2 = #{ext2}</if>
            <if test="ext3 != null  and ext3 != ''"> and ext3 = #{ext3}</if>
            <if test="ext4 != null  and ext4 != ''"> and ext4 = #{ext4}</if>
            <if test="ext5 != null  and ext5 != ''"> and ext5 = #{ext5}</if>
            <if test="ext6 != null  and ext6 != ''"> and ext6 = #{ext6}</if>
            <if test="ext7 != null  and ext7 != ''"> and ext7 = #{ext7}</if>
            <if test="ext8 != null  and ext8 != ''"> and ext8 = #{ext8}</if>
            <if test="ext9 != null  and ext9 != ''"> and ext9 = #{ext9}</if>
            <if test="ext10 != null  and ext10 != ''"> and ext10 = #{ext10}</if>
        </where>
    </select>
    
    <select id="selectUserFillInfoById" parameterType="Long" resultMap="UserFillInfoResult">
        <include refid="selectUserFillInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserFillInfo" parameterType="UserFillInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_fill_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="userSex != null and userSex != ''">user_sex,</if>
            <if test="childrenName != null and childrenName != ''">children_name,</if>
            <if test="childrenSex != null and childrenSex != ''">children_sex,</if>
            <if test="childrenBirthday != null">children_birthday,</if>
            <if test="today != null">today,</if>
            <if test="childrenAllergy != null and childrenAllergy != ''">children_allergy,</if>
            <if test="userPhone != null and userPhone != ''">user_phone,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="takeCare != null and takeCare != ''">take_care,</if>
            <if test="score != null and score != ''">score,</if>
            <if test="opinions != null and opinions != ''">opinions,</if>
            <if test="state != null and state != ''">state,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
            <if test="ext1 != null">ext1,</if>
            <if test="ext2 != null">ext2,</if>
            <if test="ext3 != null">ext3,</if>
            <if test="ext4 != null">ext4,</if>
            <if test="ext5 != null">ext5,</if>
            <if test="ext6 != null">ext6,</if>
            <if test="ext7 != null">ext7,</if>
            <if test="ext8 != null">ext8,</if>
            <if test="ext9 != null">ext9,</if>
            <if test="ext10 != null">ext10,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="userSex != null and userSex != ''">#{userSex},</if>
            <if test="childrenName != null and childrenName != ''">#{childrenName},</if>
            <if test="childrenSex != null and childrenSex != ''">#{childrenSex},</if>
            <if test="childrenBirthday != null">#{childrenBirthday},</if>
            <if test="today != null">#{today},</if>
            <if test="childrenAllergy != null and childrenAllergy != ''">#{childrenAllergy},</if>
            <if test="userPhone != null and userPhone != ''">#{userPhone},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="takeCare != null and takeCare != ''">#{takeCare},</if>
            <if test="score != null and score != ''">#{score},</if>
            <if test="opinions != null and opinions != ''">#{opinions},</if>
            <if test="state != null and state != ''">#{state},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="ext1 != null">#{ext1},</if>
            <if test="ext2 != null">#{ext2},</if>
            <if test="ext3 != null">#{ext3},</if>
            <if test="ext4 != null">#{ext4},</if>
            <if test="ext5 != null">#{ext5},</if>
            <if test="ext6 != null">#{ext6},</if>
            <if test="ext7 != null">#{ext7},</if>
            <if test="ext8 != null">#{ext8},</if>
            <if test="ext9 != null">#{ext9},</if>
            <if test="ext10 != null">#{ext10},</if>
         </trim>
    </insert>

    <update id="updateUserFillInfo" parameterType="UserFillInfo">
        update user_fill_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="userSex != null and userSex != ''">user_sex = #{userSex},</if>
            <if test="childrenName != null and childrenName != ''">children_name = #{childrenName},</if>
            <if test="childrenSex != null and childrenSex != ''">children_sex = #{childrenSex},</if>
            <if test="childrenBirthday != null">children_birthday = #{childrenBirthday},</if>
            <if test="today != null">today = #{today},</if>
            <if test="childrenAllergy != null and childrenAllergy != ''">children_allergy = #{childrenAllergy},</if>
            <if test="userPhone != null and userPhone != ''">user_phone = #{userPhone},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="takeCare != null and takeCare != ''">take_care = #{takeCare},</if>
            <if test="score != null and score != ''">score = #{score},</if>
            <if test="opinions != null and opinions != ''">opinions = #{opinions},</if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="ext1 != null">ext1 = #{ext1},</if>
            <if test="ext2 != null">ext2 = #{ext2},</if>
            <if test="ext3 != null">ext3 = #{ext3},</if>
            <if test="ext4 != null">ext4 = #{ext4},</if>
            <if test="ext5 != null">ext5 = #{ext5},</if>
            <if test="ext6 != null">ext6 = #{ext6},</if>
            <if test="ext7 != null">ext7 = #{ext7},</if>
            <if test="ext8 != null">ext8 = #{ext8},</if>
            <if test="ext9 != null">ext9 = #{ext9},</if>
            <if test="ext10 != null">ext10 = #{ext10},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserFillInfoById" parameterType="Long">
        delete from user_fill_info where id = #{id}
    </delete>

    <delete id="deleteUserFillInfoByIds" parameterType="String">
        delete from user_fill_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>